:8080

# Desactivar HTTPS interno (Railway no permite)
auto_https off

# Carpeta pública de Laravel
root * /app/public

# Servir archivos estáticos
file_server

# Redirigir todas las solicitudes a index.php
try_files {path} {path}/ /index.php?{query}
