:8080 {
    root * /var/www/html/public

# PHP-FPM usando TCP
    php_fastcgi 127.0.0.1:9000

# Servir archivos estáticos
    file_server

# Reescritura estilo Laravel para rutas "pretty URLs"
    try_files {path} /index.php?{query}
}
