[build]
builder = "NIXPACKS"

[phases.setup]
commands = [
    "php -v",                  # verificar PHP
    "composer --version",      # verificar Composer
    "node -v",                 # verificar Node
    "npm -v"                   # verificar NPM
]

[phases.install]
commands = [
    "composer install --no-dev --optimize-autoloader",
    "npm ci"
]

[phases.build]
commands = [
    "mkdir -p storage/framework/{sessions,views,cache,testing} storage/logs bootstrap/cache",
    "chmod -R a+rw storage",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache",
    "php artisan event:cache"
]

[phases.start]
commands = [
    "frankenphp run --config Caddyfile"
]
