[phases.setup]
nixPkgs = ["dunglas/frankenphp:php8.2.29-bookworm"]

[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "mkdir -p storage/framework/{sessions,views,cache,testing} storage/logs bootstrap/cache && chmod -R a+rw storage",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache",
    "php artisan event:cache"
]

[start]
cmd = "frankenphp --host 0.0.0.0 --port ${PORT} public/index.php"
