# railpack.toml
[phases.setup]
# Paquetes PHP, extensiones necesarias y Node
nixPkgs = [
    "php82",
    "php82Extensions.pdo_mysql",
    "php82Extensions.mbstring",
    "php82Extensions.curl",
    "nodejs_18",
    "npm-9_x"
]

[phases.install]
cmds = [
    # Instalar Composer y dependencias Node
    "composer install --no-dev --optimize-autoloader",
    "npm ci"
]

[phases.build]
cmds = [
    # Crear carpetas necesarias de Laravel con permisos correctos
    "mkdir -p storage/framework/{sessions,views,cache,testing} storage/logs bootstrap/cache",
    "chmod -R a+rw storage",

    # Cachear config, rutas, vistas y eventos
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache",
    "php artisan event:cache"
]

[start]
cmd = "frankenphp run --config Caddyfile"

